@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 625%; }

body, button, select, textarea, input, label, option, fieldset, legend {
  font-family: Tahoma, Verdana;
  font-size: 0.12rem;
  color: #444;
  background-color: #ddd; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1, .h1 {
  font-size: 0.4rem; }

h2, .h2 {
  font-size: 0.32rem; }

h3, .h3 {
  font-size: 0.28rem; }

h4, .h4 {
  font-size: 0.24rem; }

h5, .h5 {
  font-size: 0.18rem; }

h6, .h6 {
  font-size: 0.16rem; }

textarea {
  resize: none; }

.clear {
  height: 0.01rem;
  overflow: hidden;
  clear: both; }

a, img {
  border: 0; }

a {
  color: #666;
  text-decoration: none; }

li {
  list-style-type: none; }

.light {
  color: white; }

.ds {
  display: block; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0; }

.orange {
  color: orange; }

.light {
  color: #fff; }

.light-bg {
  background-color: #fff; }

.gray-bg {
  background-color: #fafafa; }

.green-bg {
  background: limegreen; }

.text-center {
  text-align: center; }

.font12 {
  font-size: 0.12rem; }

.font14 {
  font-size: 0.14rem; }

.font16 {
  font-size: 0.16rem; }

.padding {
  padding: 0.1rem; }

.padding_top {
  padding-top: 0.1rem; }

.padding_top20 {
  padding-top: 0.2rem; }

.hide {
  display: none; }

.show {
  display: block; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.flex-first {
  -webkit-order: -1;
  order: -1; }

.flex-last {
  -webkit-order: 1;
  order: 1; }

.flex-unordered {
  -webkit-order: 0;
  order: 0; }

.flex-row {
  -webkit-flex-direction: row !important;
  -moz-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important; }

.flex-column {
  -webkit-flex-direction: column !important;
  -moz-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important; }

.flex-row-reverse {
  -webkit-flex-direction: row-reverse !important;
  -moz-flex-direction: row-reverse !important;
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-flex-direction: column-reverse !important;
  -moz-flex-direction: column-reverse !important;
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important; }

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
  -moz-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }

.flex-nowrap {
  -webkit-flex-wrap: nowrap !important;
  -moz-flex-wrap: nowrap !important;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse !important;
  -moz-flex-wrap: wrap-reverse !important;
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important; }

.justify-content-start {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important; }

.justify-content-end {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important; }

.justify-content-center {
  -webkit-justify-content: center !important;
  justify-content: center !important; }

.justify-content-between {
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important; }

.justify-content-around {
  -webkit-justify-content: space-around !important;
  justify-content: space-around !important; }

.align-items-start {
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important; }

.align-items-end {
  -webkit-align-items: flex-end !important;
  align-items: flex-end !important; }

.align-items-center {
  -webkit-align-items: center !important;
  align-items: center !important; }

.align-items-baseline {
  -webkit-align-items: baseline !important;
  align-items: baseline !important; }

.align-items-stretch {
  -webkit-align-items: stretch !important;
  align-items: stretch !important; }

.align-content-start {
  -webkit-align-content: flex-start !important;
  align-content: flex-start !important; }

.align-content-end {
  -webkit-align-content: flex-end !important;
  align-content: flex-end !important; }

.align-content-center {
  -webkit-align-content: center !important;
  align-content: center !important; }

.align-content-between {
  -webkit-align-content: space-between !important;
  align-content: space-between !important; }

.align-content-around {
  -webkit-align-content: space-around !important;
  align-content: space-around !important; }

.align-content-stretch {
  -webkit-align-content: stretch !important;
  align-content: stretch !important; }

.align-self-auto {
  -webkit-align-self: auto !important;
  align-self: auto !important; }

.align-self-start {
  -webkit-align-self: flex-start !important;
  align-self: flex-start !important; }

.align-self-end {
  -webkit-align-self: flex-end !important;
  align-self: flex-end !important; }

.align-self-center {
  -webkit-align-self: center !important;
  align-self: center !important; }

.align-self-baseline {
  -webkit-align-self: baseline !important;
  align-self: baseline !important; }

.align-self-stretch {
  -webkit-align-self: stretch !important;
  align-self: stretch !important; }

@media screen and (min-width: 576px) {
  .flex-sm-first {
    -webkit-order: -1;
    order: -1; }

  .flex-sm-last {
    -webkit-order: 1;
    order: 1; }

  .flex-sm-unordered {
    -webkit-order: 0;
    order: 0; }

  .flex-sm-row {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-sm-column {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-sm-row-reverse {
    -webkit-flex-direction: row-reverse !important;
    -moz-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-sm-column-reverse {
    -webkit-flex-direction: column-reverse !important;
    -moz-flex-direction: column-reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-sm-wrap {
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-sm-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -moz-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-sm-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
    -moz-flex-wrap: wrap-reverse !important;
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .justify-content-sm-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important; }

  .justify-content-sm-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important; }

  .justify-content-sm-center {
    -webkit-justify-content: center !important;
    justify-content: center !important; }

  .justify-content-sm-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important; }

  .justify-content-sm-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important; }

  .align-items-sm-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important; }

  .align-items-sm-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important; }

  .align-items-sm-center {
    -webkit-align-items: center !important;
    align-items: center !important; }

  .align-items-sm-baseline {
    -webkit-align-items: baseline !important;
    align-items: baseline !important; }

  .align-items-sm-stretch {
    -webkit-align-items: stretch !important;
    align-items: stretch !important; }

  .align-content-sm-start {
    -webkit-align-content: flex-start !important;
    align-content: flex-start !important; }

  .align-content-sm-end {
    -webkit-align-content: flex-end !important;
    align-content: flex-end !important; }

  .align-content-sm-center {
    -webkit-align-content: center !important;
    align-content: center !important; }

  .align-content-sm-between {
    -webkit-align-content: space-between !important;
    align-content: space-between !important; }

  .align-content-sm-around {
    -webkit-align-content: space-around !important;
    align-content: space-around !important; }

  .align-content-sm-stretch {
    -webkit-align-content: stretch !important;
    align-content: stretch !important; }

  .align-self-sm-auto {
    -webkit-align-self: auto !important;
    align-self: auto !important; }

  .align-self-sm-start {
    -webkit-align-self: flex-start !important;
    align-self: flex-start !important; }

  .align-self-sm-end {
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important; }

  .align-self-sm-center {
    -webkit-align-self: center !important;
    align-self: center !important; }

  .align-self-sm-baseline {
    -webkit-align-self: baseline !important;
    align-self: baseline !important; }

  .align-self-sm-stretch {
    -webkit-align-self: stretch !important;
    align-self: stretch !important; } }
@media screen and (min-width: 768px) {
  .flex-md-first {
    -webkit-order: -1;
    order: -1; }

  .flex-md-last {
    -webkit-order: 1;
    order: 1; }

  .flex-md-unordered {
    -webkit-order: 0;
    order: 0; }

  .flex-md-row {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-md-column {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-md-row-reverse {
    -webkit-flex-direction: row-reverse !important;
    -moz-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-md-column-reverse {
    -webkit-flex-direction: column-reverse !important;
    -moz-flex-direction: column-reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-md-wrap {
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-md-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -moz-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-md-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
    -moz-flex-wrap: wrap-reverse !important;
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .justify-content-md-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important; }

  .justify-content-md-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important; }

  .justify-content-md-center {
    -webkit-justify-content: center !important;
    justify-content: center !important; }

  .justify-content-md-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important; }

  .justify-content-md-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important; }

  .align-items-md-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important; }

  .align-items-md-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important; }

  .align-items-md-center {
    -webkit-align-items: center !important;
    align-items: center !important; }

  .align-items-md-baseline {
    -webkit-align-items: baseline !important;
    align-items: baseline !important; }

  .align-items-md-stretch {
    -webkit-align-items: stretch !important;
    align-items: stretch !important; }

  .align-content-md-start {
    -webkit-align-content: flex-start !important;
    align-content: flex-start !important; }

  .align-content-md-end {
    -webkit-align-content: flex-end !important;
    align-content: flex-end !important; }

  .align-content-md-center {
    -webkit-align-content: center !important;
    align-content: center !important; }

  .align-content-md-between {
    -webkit-align-content: space-between !important;
    align-content: space-between !important; }

  .align-content-md-around {
    -webkit-align-content: space-around !important;
    align-content: space-around !important; }

  .align-content-md-stretch {
    -webkit-align-content: stretch !important;
    align-content: stretch !important; }

  .align-self-md-auto {
    -webkit-align-self: auto !important;
    align-self: auto !important; }

  .align-self-md-start {
    -webkit-align-self: flex-start !important;
    align-self: flex-start !important; }

  .align-self-md-end {
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important; }

  .align-self-md-center {
    -webkit-align-self: center !important;
    align-self: center !important; }

  .align-self-md-baseline {
    -webkit-align-self: baseline !important;
    align-self: baseline !important; }

  .align-self-md-stretch {
    -webkit-align-self: stretch !important;
    align-self: stretch !important; } }
@media screen and (min-width: 992px) {
  .flex-lg-first {
    -webkit-order: -1;
    order: -1; }

  .flex-lg-last {
    -webkit-order: 1;
    order: 1; }

  .flex-lg-unordered {
    -webkit-order: 0;
    order: 0; }

  .flex-lg-row {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-lg-column {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-lg-row-reverse {
    -webkit-flex-direction: row-reverse !important;
    -moz-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-lg-column-reverse {
    -webkit-flex-direction: column-reverse !important;
    -moz-flex-direction: column-reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-lg-wrap {
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-lg-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -moz-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-lg-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
    -moz-flex-wrap: wrap-reverse !important;
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .justify-content-lg-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important; }

  .justify-content-lg-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important; }

  .justify-content-lg-center {
    -webkit-justify-content: center !important;
    justify-content: center !important; }

  .justify-content-lg-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important; }

  .justify-content-lg-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important; }

  .align-items-lg-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important; }

  .align-items-lg-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important; }

  .align-items-lg-center {
    -webkit-align-items: center !important;
    align-items: center !important; }

  .align-items-lg-baseline {
    -webkit-align-items: baseline !important;
    align-items: baseline !important; }

  .align-items-lg-stretch {
    -webkit-align-items: stretch !important;
    align-items: stretch !important; }

  .align-content-lg-start {
    -webkit-align-content: flex-start !important;
    align-content: flex-start !important; }

  .align-content-lg-end {
    -webkit-align-content: flex-end !important;
    align-content: flex-end !important; }

  .align-content-lg-center {
    -webkit-align-content: center !important;
    align-content: center !important; }

  .align-content-lg-between {
    -webkit-align-content: space-between !important;
    align-content: space-between !important; }

  .align-content-lg-around {
    -webkit-align-content: space-around !important;
    align-content: space-around !important; }

  .align-content-lg-stretch {
    -webkit-align-content: stretch !important;
    align-content: stretch !important; }

  .align-self-lg-auto {
    -webkit-align-self: auto !important;
    align-self: auto !important; }

  .align-self-lg-start {
    -webkit-align-self: flex-start !important;
    align-self: flex-start !important; }

  .align-self-lg-end {
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important; }

  .align-self-lg-center {
    -webkit-align-self: center !important;
    align-self: center !important; }

  .align-self-lg-baseline {
    -webkit-align-self: baseline !important;
    align-self: baseline !important; }

  .align-self-lg-stretch {
    -webkit-align-self: stretch !important;
    align-self: stretch !important; } }
@media screen and (min-width: 1200px) {
  .flex-xl-first {
    -webkit-order: -1;
    order: -1; }

  .flex-xl-last {
    -webkit-order: 1;
    order: 1; }

  .flex-xl-unordered {
    -webkit-order: 0;
    order: 0; }

  .flex-xl-row {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; }

  .flex-xl-column {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; }

  .flex-xl-row-reverse {
    -webkit-flex-direction: row-reverse !important;
    -moz-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important; }

  .flex-xl-column-reverse {
    -webkit-flex-direction: column-reverse !important;
    -moz-flex-direction: column-reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important; }

  .flex-xl-wrap {
    -webkit-flex-wrap: wrap !important;
    -moz-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important; }

  .flex-xl-nowrap {
    -webkit-flex-wrap: nowrap !important;
    -moz-flex-wrap: nowrap !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; }

  .flex-xl-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
    -moz-flex-wrap: wrap-reverse !important;
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important; }

  .justify-content-xl-start {
    -webkit-justify-content: flex-start !important;
    justify-content: flex-start !important; }

  .justify-content-xl-end {
    -webkit-justify-content: flex-end !important;
    justify-content: flex-end !important; }

  .justify-content-xl-center {
    -webkit-justify-content: center !important;
    justify-content: center !important; }

  .justify-content-xl-between {
    -webkit-justify-content: space-between !important;
    justify-content: space-between !important; }

  .justify-content-xl-around {
    -webkit-justify-content: space-around !important;
    justify-content: space-around !important; }

  .align-items-xl-start {
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important; }

  .align-items-xl-end {
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important; }

  .align-items-xl-center {
    -webkit-align-items: center !important;
    align-items: center !important; }

  .align-items-xl-baseline {
    -webkit-align-items: baseline !important;
    align-items: baseline !important; }

  .align-items-xl-stretch {
    -webkit-align-items: stretch !important;
    align-items: stretch !important; }

  .align-content-xl-start {
    -webkit-align-content: flex-start !important;
    align-content: flex-start !important; }

  .align-content-xl-end {
    -webkit-align-content: flex-end !important;
    align-content: flex-end !important; }

  .align-content-xl-center {
    -webkit-align-content: center !important;
    align-content: center !important; }

  .align-content-xl-between {
    -webkit-align-content: space-between !important;
    align-content: space-between !important; }

  .align-content-xl-around {
    -webkit-align-content: space-around !important;
    align-content: space-around !important; }

  .align-content-xl-stretch {
    -webkit-align-content: stretch !important;
    align-content: stretch !important; }

  .align-self-xl-auto {
    -webkit-align-self: auto !important;
    align-self: auto !important; }

  .align-self-xl-start {
    -webkit-align-self: flex-start !important;
    align-self: flex-start !important; }

  .align-self-xl-end {
    -webkit-align-self: flex-end !important;
    align-self: flex-end !important; }

  .align-self-xl-center {
    -webkit-align-self: center !important;
    align-self: center !important; }

  .align-self-xl-baseline {
    -webkit-align-self: baseline !important;
    align-self: baseline !important; }

  .align-self-xl-stretch {
    -webkit-align-self: stretch !important;
    align-self: stretch !important; } }
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 576px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 768px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 992px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 576px) {
    .container {
      width: 540px;
      max-width: 100%; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 720px;
      max-width: 100%; } }
  @media screen and (min-width: 992px) {
    .container {
      width: 960px;
      max-width: 100%; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1140px;
      max-width: 100%; } }

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 576px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 768px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 992px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .container-fluid {
      padding-right: 15px;
      padding-left: 15px; } }

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap !important;
  -moz-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-right: -15px;
  margin-left: -15px; }
  @media screen and (min-width: 576px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media screen and (min-width: 768px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media screen and (min-width: 992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media screen and (min-width: 1200px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 576px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 768px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }
  @media screen and (min-width: 1200px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
      padding-right: 15px;
      padding-left: 15px; } }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.pull-0 {
  right: auto; }

.pull-1 {
  right: 8.33333%; }

.pull-2 {
  right: 16.66667%; }

.pull-3 {
  right: 25%; }

.pull-4 {
  right: 33.33333%; }

.pull-5 {
  right: 41.66667%; }

.pull-6 {
  right: 50%; }

.pull-7 {
  right: 58.33333%; }

.pull-8 {
  right: 66.66667%; }

.pull-9 {
  right: 75%; }

.pull-10 {
  right: 83.33333%; }

.pull-11 {
  right: 91.66667%; }

.pull-12 {
  right: 100%; }

.push-0 {
  left: auto; }

.push-1 {
  left: 8.33333%; }

.push-2 {
  left: 16.66667%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33333%; }

.push-5 {
  left: 41.66667%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33333%; }

.push-8 {
  left: 66.66667%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33333%; }

.push-11 {
  left: 91.66667%; }

.push-12 {
  left: 100%; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media screen and (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-sm-0 {
    right: auto; }

  .pull-sm-1 {
    right: 8.33333%; }

  .pull-sm-2 {
    right: 16.66667%; }

  .pull-sm-3 {
    right: 25%; }

  .pull-sm-4 {
    right: 33.33333%; }

  .pull-sm-5 {
    right: 41.66667%; }

  .pull-sm-6 {
    right: 50%; }

  .pull-sm-7 {
    right: 58.33333%; }

  .pull-sm-8 {
    right: 66.66667%; }

  .pull-sm-9 {
    right: 75%; }

  .pull-sm-10 {
    right: 83.33333%; }

  .pull-sm-11 {
    right: 91.66667%; }

  .pull-sm-12 {
    right: 100%; }

  .push-sm-0 {
    left: auto; }

  .push-sm-1 {
    left: 8.33333%; }

  .push-sm-2 {
    left: 16.66667%; }

  .push-sm-3 {
    left: 25%; }

  .push-sm-4 {
    left: 33.33333%; }

  .push-sm-5 {
    left: 41.66667%; }

  .push-sm-6 {
    left: 50%; }

  .push-sm-7 {
    left: 58.33333%; }

  .push-sm-8 {
    left: 66.66667%; }

  .push-sm-9 {
    left: 75%; }

  .push-sm-10 {
    left: 83.33333%; }

  .push-sm-11 {
    left: 91.66667%; }

  .push-sm-12 {
    left: 100%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; } }
@media screen and (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-md-0 {
    right: auto; }

  .pull-md-1 {
    right: 8.33333%; }

  .pull-md-2 {
    right: 16.66667%; }

  .pull-md-3 {
    right: 25%; }

  .pull-md-4 {
    right: 33.33333%; }

  .pull-md-5 {
    right: 41.66667%; }

  .pull-md-6 {
    right: 50%; }

  .pull-md-7 {
    right: 58.33333%; }

  .pull-md-8 {
    right: 66.66667%; }

  .pull-md-9 {
    right: 75%; }

  .pull-md-10 {
    right: 83.33333%; }

  .pull-md-11 {
    right: 91.66667%; }

  .pull-md-12 {
    right: 100%; }

  .push-md-0 {
    left: auto; }

  .push-md-1 {
    left: 8.33333%; }

  .push-md-2 {
    left: 16.66667%; }

  .push-md-3 {
    left: 25%; }

  .push-md-4 {
    left: 33.33333%; }

  .push-md-5 {
    left: 41.66667%; }

  .push-md-6 {
    left: 50%; }

  .push-md-7 {
    left: 58.33333%; }

  .push-md-8 {
    left: 66.66667%; }

  .push-md-9 {
    left: 75%; }

  .push-md-10 {
    left: 83.33333%; }

  .push-md-11 {
    left: 91.66667%; }

  .push-md-12 {
    left: 100%; }

  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; } }
@media screen and (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-lg-0 {
    right: auto; }

  .pull-lg-1 {
    right: 8.33333%; }

  .pull-lg-2 {
    right: 16.66667%; }

  .pull-lg-3 {
    right: 25%; }

  .pull-lg-4 {
    right: 33.33333%; }

  .pull-lg-5 {
    right: 41.66667%; }

  .pull-lg-6 {
    right: 50%; }

  .pull-lg-7 {
    right: 58.33333%; }

  .pull-lg-8 {
    right: 66.66667%; }

  .pull-lg-9 {
    right: 75%; }

  .pull-lg-10 {
    right: 83.33333%; }

  .pull-lg-11 {
    right: 91.66667%; }

  .pull-lg-12 {
    right: 100%; }

  .push-lg-0 {
    left: auto; }

  .push-lg-1 {
    left: 8.33333%; }

  .push-lg-2 {
    left: 16.66667%; }

  .push-lg-3 {
    left: 25%; }

  .push-lg-4 {
    left: 33.33333%; }

  .push-lg-5 {
    left: 41.66667%; }

  .push-lg-6 {
    left: 50%; }

  .push-lg-7 {
    left: 58.33333%; }

  .push-lg-8 {
    left: 66.66667%; }

  .push-lg-9 {
    left: 75%; }

  .push-lg-10 {
    left: 83.33333%; }

  .push-lg-11 {
    left: 91.66667%; }

  .push-lg-12 {
    left: 100%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; } }
@media screen and (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto; }

  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }

  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }

  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }

  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .pull-xl-0 {
    right: auto; }

  .pull-xl-1 {
    right: 8.33333%; }

  .pull-xl-2 {
    right: 16.66667%; }

  .pull-xl-3 {
    right: 25%; }

  .pull-xl-4 {
    right: 33.33333%; }

  .pull-xl-5 {
    right: 41.66667%; }

  .pull-xl-6 {
    right: 50%; }

  .pull-xl-7 {
    right: 58.33333%; }

  .pull-xl-8 {
    right: 66.66667%; }

  .pull-xl-9 {
    right: 75%; }

  .pull-xl-10 {
    right: 83.33333%; }

  .pull-xl-11 {
    right: 91.66667%; }

  .pull-xl-12 {
    right: 100%; }

  .push-xl-0 {
    left: auto; }

  .push-xl-1 {
    left: 8.33333%; }

  .push-xl-2 {
    left: 16.66667%; }

  .push-xl-3 {
    left: 25%; }

  .push-xl-4 {
    left: 33.33333%; }

  .push-xl-5 {
    left: 41.66667%; }

  .push-xl-6 {
    left: 50%; }

  .push-xl-7 {
    left: 58.33333%; }

  .push-xl-8 {
    left: 66.66667%; }

  .push-xl-9 {
    left: 75%; }

  .push-xl-10 {
    left: 83.33333%; }

  .push-xl-11 {
    left: 91.66667%; }

  .push-xl-12 {
    left: 100%; }

  .offset-xl-0 {
    margin-left: 0%; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; } }
.gray-border {
  border: 1px solid #ddd; }

body {
  display: block;
  background-color: #fff;
  -webkit-text-size-adjust: none; }

header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #51a091;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff; }
  header .title {
    display: block;
    height: 100%;
    width: 100px;
    text-align: center;
    padding-top: 10px; }
    header .title img {
      height: 40px;
      display: inline-block;
      padding-left: 40px; }
  header .shortcut-key {
    position: absolute;
    right: 30px;
    top: 16px; }
    header .shortcut-key span.search {
      position: relative;
      display: inline-block;
      height: 24px;
      width: 176px;
      border-radius: 8px;
      background-color: #fff; }
      header .shortcut-key span.search input {
        position: absolute;
        padding-left: 14px;
        border: none;
        height: 100%;
        width: 134px;
        background-color: transparent; }
      header .shortcut-key span.search a {
        position: absolute;
        right: 0;
        display: inline-block;
        width: 40px;
        height: 100%;
        background: url(../images/icon-search.png) center center no-repeat; }
    header .shortcut-key span.main-shortcut-key {
      display: inline-block; }
      header .shortcut-key span.main-shortcut-key:not(:last-child) {
        border-right: 2px solid #fff; }
      header .shortcut-key span.main-shortcut-key a {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0px 10px;
        background-repeat: no-repeat; }
        header .shortcut-key span.main-shortcut-key a.icon-lingdang {
          background-image: url("../images/icon-lingdang.png"); }
        header .shortcut-key span.main-shortcut-key a.icon-set {
          background-image: url("../images/icon-set.png"); }
        header .shortcut-key span.main-shortcut-key a.icon-home {
          background-image: url("../images/icon-home.png"); }
        header .shortcut-key span.main-shortcut-key a.icon-close {
          background-image: url("../images/icon-close.png"); }

.main {
  margin-top: 60px;
  width: 100%;
  display: block;
  height: 100%; }
  .main nav, .main aside {
    position: absolute; }
  .main nav {
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-bottom: 36px;
    background-color: #453e39;
    color: #fff; }
    .main nav .aside-top {
      text-align: center;
      padding-top: 36px; }
      .main nav .aside-top > div {
        padding-bottom: 20px; }
        .main nav .aside-top > div img {
          width: 108px;
          height: 108px;
          border-radius: 50%; }
        .main nav .aside-top > div p {
          padding: 10px; }
          .main nav .aside-top > div p span {
            font-size: .16rem; }
      .main nav .aside-top .nav-top-items li {
        display: inline-block;
        height: 72px;
        width: 60px;
        margin: 5px;
        padding: 6px 2px;
        font-size: 16px;
        text-align: center;
        border-radius: 8px;
        background-color: #605753; }
        .main nav .aside-top .nav-top-items li:hover {
          background-color: #51a091; }
      .main nav .aside-top .nav-top-items i {
        display: block;
        width: 100%;
        height: 36px;
        background-size: contain !important;
        background-position-x: 50% !important; }
      .main nav .aside-top .nav-top-items span {
        font-size: .12rem; }
      .main nav .aside-top .nav-top-items i:nth-child(1) {
        background: url("../images/icon-people.png") no-repeat; }
      .main nav .aside-top .nav-top-items i:nth-child(2) {
        background: url("../images/icon-text.png") no-repeat; }
      .main nav .aside-top .nav-top-items i:nth-child(3) {
        background: url("../images/icon-calender.png") no-repeat; }
    .main nav ul.nav-list {
      background-color: #605753;
      text-align: left; }
      .main nav ul.nav-list li:hover {
        background-color: #51a091; }
      .main nav ul.nav-list > li {
        position: relative;
        height: 50px;
        width: 100%;
        line-height: 50px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: .14rem;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position-y: 50%;
        border-bottom: 1px solid #444444; }
        .main nav ul.nav-list > li ul {
          position: absolute;
          top: 50px;
          left: 0;
          background-color: transparent;
          width: 100%;
          background-position-y: 50%;
          background-repeat: no-repeat; }
          .main nav ul.nav-list > li ul li {
            color: #fff;
            padding-left: 33%;
            background-color: #605753;
            list-style-type: disc;
            list-style-position: inside; }
            .main nav ul.nav-list > li ul li:nth-child(2n+1) {
              background-color: #474747; }
              .main nav ul.nav-list > li ul li:nth-child(2n+1):hover {
                background-color: #51a091; }
        .main nav ul.nav-list > li > span:nth-child(1) {
          display: inline-block;
          padding-left: 40px; }
        .main nav ul.nav-list > li .icon-num {
          display: inline-block;
          width: 10px;
          height: 10px;
          font-size: 6px;
          -webkit-text-size-adjust: none; }
        .main nav ul.nav-list > li .icon-right {
          position: absolute;
          right: 0;
          height: 100%;
          width: 40px;
          background: url(../images/icon-right.png) no-repeat;
          background-position-y: 50%; }
  .main .icon-approval {
    background-image: url("../images/icon-approval.png"); }
  .main .icon-people-no {
    background-image: url("../images/icon-people-no.png"); }
  .main .icon-clock {
    background-image: url("../images/icon-clock.png"); }
  .main .icon-task {
    background-image: url("../images/icon-task.png"); }
  .main .icon-text {
    background-image: url("../images/icon-text.png"); }
  .main .icon-cmr {
    background-image: url("../images/icon-cmr.png"); }
  .main .icon-hr {
    background-image: url("../images/icon-hr.png"); }
  .main .ranking1 {
    background-image: url("../images/ranking1.png"); }
  .main .ranking2 {
    background-image: url("../images/ranking2.png"); }
  .main .ranking3 {
    background-image: url("../images/ranking3.png"); }
  .main .content {
    background-color: #fff; }
    .main .content > div {
      padding-left: 260px;
      padding-right: 260px; }
      .main .content > div .content-nav {
        background-color: transparent;
        height: 80px;
        width: 100%;
        text-align: right;
        padding-top: 22px;
        padding-right: 100px; }
        .main .content > div .content-nav button {
          font-size: 0.16rem;
          height: 30px;
          width: 108px;
          border: none;
          margin-right: 36px;
          border-radius: 50px; }
          .main .content > div .content-nav button.succuss {
            background-color: #51a091;
            border-radius: 4px;
            height: 36px;
            color: #fff; }
      .main .content > div .uncomplete-box .uncomplete-filter {
        position: relative;
        background-color: #e4e4e4;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid #fff;
        padding-left: 50px; }
        .main .content > div .uncomplete-box .uncomplete-filter button {
          border: none;
          font-size: .14rem;
          margin-right: 47px;
          padding: 6px 14px; }
          .main .content > div .uncomplete-box .uncomplete-filter button.select {
            color: #51a091; }
        .main .content > div .uncomplete-box .uncomplete-filter span.right {
          position: absolute;
          right: 0; }
      .main .content > div .uncomplete-box .uncomplete-content {
        background-color: #daeeed;
        border-left: 6px solid #51a091;
        height: 400px; }
        .main .content > div .uncomplete-box .uncomplete-content > dl {
          padding-left: 18px;
          padding-right: 18px; }
          .main .content > div .uncomplete-box .uncomplete-content > dl dt {
            font-size: 0.16rem;
            color: #736965;
            padding-bottom: 12px; }
            .main .content > div .uncomplete-box .uncomplete-content > dl dt > div {
              color: #444; }
            .main .content > div .uncomplete-box .uncomplete-content > dl dt h3 {
              margin-bottom: 4px;
              font-size: 0.16rem; }
            .main .content > div .uncomplete-box .uncomplete-content > dl dt button {
              font-size: 0.12rem;
              transform: scale(0.9); }
          .main .content > div .uncomplete-box .uncomplete-content > dl dd p {
            color: #96908c;
            font-size: 0.14rem; }
      .main .content > div .attendance-box .attendance-user div {
        font-size: 0.16rem;
        color: #736965; }
        .main .content > div .attendance-box .attendance-user div .attendance-photo {
          display: inline-block;
          padding-right: 0.16rem;
          padding-bottom: 14px; }
          .main .content > div .attendance-box .attendance-user div .attendance-photo img {
            height: 82px;
            width: 82px;
            display: inline-block; }
        .main .content > div .attendance-box .attendance-user div .attendance-name {
          display: inline-block;
          line-height: 36px;
          vertical-align: text-bottom; }
          .main .content > div .attendance-box .attendance-user div .attendance-name div:nth-child(1) {
            font-size: 0.18rem;
            font-weight: bold;
            color: #444; }
        .main .content > div .attendance-box .attendance-user div .attendance-date {
          position: absolute;
          top: 0;
          right: 0; }
      .main .content > div .attendance-box .attendance-user .attendance-reason {
        padding-left: 18px;
        padding-right: 18px;
        font-size: 0.14rem; }
        .main .content > div .attendance-box .attendance-user .attendance-reason div {
          padding: 14px 0;
          color: #51a091; }
        .main .content > div .attendance-box .attendance-user .attendance-reason p {
          color: #96908c; }
        .main .content > div .attendance-box .attendance-user .attendance-reason div.attendance-comfirm {
          text-align: right; }
          .main .content > div .attendance-box .attendance-user .attendance-reason div.attendance-comfirm button {
            width: 70px;
            height: 30px;
            font-size: 0.14rem;
            border-radius: 4px;
            border: none;
            margin-left: 26px; }
          .main .content > div .attendance-box .attendance-user .attendance-reason div.attendance-comfirm button.succuss {
            background-color: #51a091;
            color: #fff; }
  .main aside {
    top: 0;
    right: 0;
    background-color: #d6ccc8;
    width: 260px;
    height: 100%;
    padding: 36px 10px; }
    .main aside > div {
      padding-bottom: 36px; }
    .main aside .today {
      color: #96908c;
      text-align: right; }
    .main aside .sign-in {
      position: relative;
      text-align: center;
      height: 140px;
      width: 140px;
      background-color: #51a091;
      border-radius: 50%;
      color: #fff;
      margin: 0 auto; }
      .main aside .sign-in div {
        font-size: 20px;
        padding-top: 40px; }
      .main aside .sign-in p {
        font-size: 0.14rem; }
    .main aside .list .item {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px; }
      .main aside .list .item.has-image {
        padding-left: 70px; }
      .main aside .list .item img {
        position: absolute;
        left: 0;
        display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 50%; }
      .main aside .list .item > div {
        display: inline-block;
        color: #96908c;
        padding-top: 10px;
        padding-bottom: 10px; }
        .main aside .list .item > div > div {
          font-size: 0.16rem;
          font-weight: bold;
          padding-bottom: 10px; }
        .main aside .list .item > div > p {
          font-size: 0.14rem; }
      .main aside .list .item i {
        position: absolute;
        right: 0;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        color: black;
        width: 32px;
        height: 100%; }

.common-box {
  padding: 20px 24px;
  border-bottom: 2px solid #d0d7ca; }
  .common-box > div, .common-box > dl {
    margin-bottom: 50px; }
  .common-box .common-button {
    background-color: #51a091;
    font-size: 0.16rem;
    border-radius: 6px;
    color: #fff;
    padding: 10px 24px;
    border: none; }
  .common-box .right {
    position: absolute;
    display: inline-block;
    right: 0; }
    .common-box .right > button {
      display: inline-block;
      text-align: right;
      background: url(../images/icon-refresh.png) no-repeat;
      background-position: left center;
      border: none;
      padding: 2px 3px 2px 21px;
      margin-left: 10px;
      background-origin: padding-box; }

.content .filter-box {
  position: relative;
  background-color: #e3d2d7;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #fff;
  padding-left: 50px; }
  .content .filter-box button {
    border: none;
    font-size: 0.16rem;
    margin-right: 47px;
    padding: 6px 14px;
    background-color: transparent; }
    .content .filter-box button.select {
      color: #51a091; }
  .content .filter-box .filter-clear-button {
    border: none;
    margin-right: 47px;
    padding: 4px 14px;
    background-color: #51a091;
    color: #fff;
    height: 30px;
    border-radius: 6px; }
  .content .filter-box span.right {
    position: absolute;
    right: 0; }
  .content .filter-box .filter-select {
    background-color: transparent;
    font-size: 0.16rem;
    border: none; }
    .content .filter-box .filter-select option {
      font-size: 0.14rem; }
      .content .filter-box .filter-select option[selected] {
        color: #51a091; }

.content-list {
  padding: 30px 20px;
  border-bottom: 1px solid #e4e4e4; }
  .content-list .content-item div {
    position: relative;
    font-size: 0.16rem;
    padding-bottom: 18px; }
    .content-list .content-item div span {
      position: absolute;
      right: 0;
      font-size: 0.12rem; }
  .content-list .content-item p {
    text-indent: 2em;
    font-size: 0.14rem; }

.zhidu-content {
  padding: 30px 62px; }
  .zhidu-content h2 {
    padding: 15px 2px;
    color: #51a091;
    border-bottom: 2px solid #96908c; }
  .zhidu-content p {
    font-size: 0.14rem;
    padding: 2px;
    text-indent: 2em; }
  .zhidu-content .button-box {
    width: 100%;
    text-align: right;
    padding-top: 40px; }
    .zhidu-content .button-box button {
      font-size: 0.16rem;
      padding: 10px 32px;
      background-color: #51a091;
      border: none;
      border-radius: 4px;
      color: #fff; }

/*# sourceMappingURL=hr-1.css.map */
