@import "style";
@import "flex-make";

$base-font-size: .16rem;
$middle-font-size: .14rem;
$small-font-size: .12rem;
$bigger-font-size: .18rem;

$mainbgc: rgb(81,160,145);
$navbgc: rgb(69,62,57);
$right-side-bgc: rgb(214,204,200);
$nav-list-bgc: rgb(96,87,83);
$light: #fff;
$bodybgc: $light;


$border-color: rgb(208,215,202);


$filter-bgc: #e4e4e4;
$content-select-bgc :#daeeed;

$gray-font: rgb(115,105,101);
$gray-light-font: rgb(150,144,140);
$black-font: #444;

$header-height: 60px;
body{
  display: block;
  background-color: $bodybgc;
  -webkit-text-size-adjust: none;

}

header{
  position: absolute;
  top:10px;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: $mainbgc;
  border-left: 10px solid $light;
  border-right: 10px solid $light;
  .title{
    display: block;
    height:100%;
    width: 100px;
    text-align: center;
    padding-top: 10px;

    img{
      height: 40px;
      display: inline-block;
      padding-left: 40px;
    }
  }
  .shortcut-key{
    position: absolute;
    right: 30px;
    top:16px;
    span.search{
      position: relative;
      display: inline-block;
      height: 24px;
      width: 176px;
      border-radius: 8px;
      background-color: $light;
      input{
        position: absolute;
        padding-left: 14px;
        border: none;
        height: 100%;
        width: 134px;
        background-color: transparent;
      }
      a{
        position: absolute;
        right: 0;
        display: inline-block;
        width: 40px;
        height: 100%;
        background: url(../images/icon-search.png) center center no-repeat;
      }
    }
    span.main-shortcut-key{
      display: inline-block;
      &:not(:last-child){
        border-right: 2px solid $light;
      }
      a{
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: 0px 10px;
        background-repeat:no-repeat;
        &.icon-lingdang{
          background-image: url("../images/icon-lingdang.png");
        }
        &.icon-set{
          background-image: url("../images/icon-set.png");
        }
        &.icon-home{
          background-image: url("../images/icon-home.png");
        }
        &.icon-close{
          background-image: url("../images/icon-close.png");
        }
      }
    }

  }
}
.main{
  margin-top: 60px;
  width: 100%;
  display: block;
  height: 100%;

  nav,aside{
    position: absolute;
  }

   nav{
     left: 0;
     top: 0;;
     width: 260px;
     height: 100%;
     padding-bottom: 36px;
     background-color: $navbgc;
     color: $light;

     .aside-top{
       text-align: center;
       padding-top: 36px;
       >div{
         padding-bottom: 20px;
         img{
           width: 108px;
           height: 108px;
           border-radius: 50%;
         }
         p{
           padding: 10px;;
           span{
             font-size: .16rem;
           }
         }

       }
       .nav-top-items{
         li{
           display: inline-block;
           height: 72px;
           width: 60px;
           margin: 5px;
           padding: 6px 2px;
           font-size: 16px;
           text-align: center;
           border-radius: 8px;
           background-color: $nav-list-bgc;
           &:hover{
             background-color: $mainbgc;
           }
         }
         i{
           display: block;
           width: 100%;
           height: 36px;
           background-size: contain!important;
           background-position-x: 50%!important;
         }
         span{
           font-size: .12rem;
         }
         i:nth-child(1){
           background: url("../images/icon-people.png") no-repeat;
         }
         i:nth-child(2){
           background: url("../images/icon-text.png") no-repeat;
         }
         i:nth-child(3){
           background: url("../images/icon-calender.png") no-repeat;
         }
       }

     }

     ul.nav-list{
       background-color: $nav-list-bgc;
       text-align: left;
       li:hover{
         background-color: $mainbgc;
       }

       >li{
         position: relative;
         height: 50px;
         width: 100%;
         line-height: 50px;
         padding-left: 24px;
         padding-right: 24px;
         font-size: .14rem;
         background-origin: content-box;
         background-repeat: no-repeat;
         background-position-y: 50%;
         border-bottom: 1px solid #444444;
          ul{
            position: absolute;
            top: 50px;
            left: 0;
            background-color: transparent;
            width: 100%;
            background-position-y: 50%;
            background-repeat: no-repeat ;

            li{
              color: $light;
              padding-left: 33%;
              background-color: $nav-list-bgc;
              list-style-type: disc;
              list-style-position: inside;

               &:nth-child(2n+1){
                 background-color: #474747;
                 &:hover{
                   background-color: $mainbgc;
                 }
               }
            }
          }

         >span:nth-child(1){
           display: inline-block;
           padding-left: 40px;
         }
         .icon-num{
           display: inline-block;
           width: 10px;
           height: 10px;

           font-size: 6px;
           -webkit-text-size-adjust: none;
         }
         .icon-right{
           position: absolute;
           right: 0;
           height: 100%;
           width: 40px;
           background: url(../images/icon-right.png) no-repeat;
           background-position-y: 50%;
         }
       }
     }
   }
   .icon-approval{
     background-image:url("../images/icon-approval.png") ;
   }
  .icon-people-no{
    background-image: url("../images/icon-people-no.png") ;
  }
  .icon-clock{
    background-image: url("../images/icon-clock.png") ;
  }
  .icon-task{
    background-image: url("../images/icon-task.png") ;
  }
  .icon-text{
    background-image: url("../images/icon-text.png") ;
  }
  .icon-cmr{
    background-image: url("../images/icon-cmr.png") ;
  }
  .icon-hr{
    background-image: url("../images/icon-hr.png") ;
  }

  .ranking1{
    background-image: url("../images/ranking1.png") ;
  }
  .ranking2{
    background-image: url("../images/ranking2.png") ;
  }
  .ranking3{
    background-image: url("../images/ranking3.png") ;
  }


  .content{
    background-color: $bodybgc;
    >div{
      padding-left: 260px;
      padding-right: 260px;

      .content-nav{
        background-color: transparent;
        height: 80px;
        width: 100%;
        text-align: right;
        padding-top: 22px;
        padding-right: 100px;
        button{
          font-size: $base-font-size;
          height: 30px;
          width: 108px;
          border: none;
          margin-right: 36px;
          border-radius: 50px;
          &.succuss{
            background-color: $mainbgc;
            border-radius: 4px;
            height: 36px;
            color: $light;
          }
        }

      }
      .uncomplete-box{
        .uncomplete-filter{
          position: relative;
          background-color: $filter-bgc;
          height: 40px;
          line-height: 40px;
          border-bottom: 2px solid $light;
          padding-left:50px;
          button{
            border: none;
            font-size: .14rem;
            margin-right: 47px;
            padding: 6px 14px;
            &.select{
              color: $mainbgc;
            }
          }
          span.right{
            position: absolute;
            right: 0;
          }
        }
        .uncomplete-content{
          background-color: $content-select-bgc;
          border-left: 6px solid $mainbgc;
          height: 400px;
          >dl{
            padding-left: 18px;
            padding-right: 18px;

            dt{
               font-size: $base-font-size;
               color: $gray-font;
               padding-bottom: 12px;
              >div{
                color: $black-font;
              }
               h3{
                 margin-bottom: 4px;
                 font-size: $base-font-size;

               }
               button{
                 font-size: $small-font-size;
                 transform: scale(.9);
               }
             }
            dd{
              p{
                color: $gray-light-font;
                font-size: $middle-font-size;
              }
            }

          }

        }

      }

      .attendance-box {
        .attendance-user{
          div{
            font-size: $base-font-size;
            color: $gray-font;

            .attendance-photo{
              display: inline-block;
              padding-right: $base-font-size;
              padding-bottom: 14px;
              img{
                height: 82px;
                width: 82px;
                display: inline-block;
              }
            }
            .attendance-name{
              display: inline-block;
              line-height: 36px;
              vertical-align: text-bottom;

              div:nth-child(1){
                font-size: $bigger-font-size;
                font-weight: bold;
                color: $black-font;
              }
            }
            .attendance-date{
              position: absolute;
              top: 0;
              right: 0;
            }
          }
          .attendance-reason{
            padding-left: 18px;
            padding-right: 18px;
            font-size: $middle-font-size;
            div{
              padding: 14px 0;
              color: $mainbgc;
            }
            p{
              color: $gray-light-font ;

            }
            div.attendance-comfirm{
              text-align: right;
              button{
                width: 70px;
                height: 30px;
                font-size: $middle-font-size;
                border-radius: 4px;
                border:none;
                margin-left: 26px;
              }
              button.succuss{
                background-color: $mainbgc;
                color: $light;
              }
            }
          }
        }
      }
    }

  }

  aside{
    top: 0;
    right: 0;
    background-color: $right-side-bgc;
    width: 260px;
    height: 100%;
    padding: 36px 10px;

    >div{
      padding-bottom: 36px;
    }
    .today{
      color: $gray-light-font;
      text-align: right;
    }

    .sign-in{
      position: relative;
      text-align: center;
      height: 140px;
      width: 140px;
      background-color: $mainbgc;
      border-radius: 50%;
      color: $light;
      margin: 0 auto;
      div{
        font-size: 20px;
        padding-top: 40px;
      }
      p{
        font-size: $middle-font-size;
      }
    }

    .calender{

    }

    .list{
      .item{
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;

        &.has-image{
          padding-left: 70px;
        }
         img{
           position: absolute;
           left: 0;
           display: inline-block;
           height: 60px;
           width: 60px;
           border-radius: 50%;
         }
        >div{
          display: inline-block;
          color: $gray-light-font;
          padding-top: 10px;
          padding-bottom: 10px;
          >div{
            font-size: $base-font-size;
            font-weight: bold;
            padding-bottom: 10px;
          }
          >p{
            font-size: $middle-font-size;
          }
        }
        i{
          position: absolute;
          right: 0;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center center;
          color: black;
          width: 32px;
          height: 100%;
        }
      }
    }
  }
}



.common-box{
  padding: 20px 24px;
  border-bottom: 2px solid $border-color ;
  >div,>dl{
    margin-bottom: 50px;
  }

  .common-button{
    background-color: $mainbgc;
    font-size: $base-font-size;
    border-radius: 6px;
    color: $light;
    padding: 10px 24px;
    border: none;
  }
  .right{
    position: absolute;
    display: inline-block;
    right: 0;

    >button{
      display: inline-block;
      text-align: right;
      background: url(../images/icon-refresh.png) no-repeat;
      background-position: left center;
      border: none;
      padding: 2px 3px 2px 21px;
      margin-left: 10px;
      background-origin: padding-box;
    }

  }
}


.content .filter-box{
  position: relative;
  background-color: #e3d2d7;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #fff;
  padding-left: 50px;
  button{
    border: none;
    font-size: $base-font-size;
    margin-right: 47px;
    padding: 6px 14px;
    background-color: transparent;;
    &.select{
      color: $mainbgc;
    }
  }

  .filter-clear-button{
    border: none;
    margin-right: 47px;
    padding: 4px 14px;
    background-color: $mainbgc;
    color: $light;
    height: 30px;
    border-radius: 6px;
  }

  span.right{
    position: absolute;
    right: 0;
  }

  .filter-select{
    background-color: transparent;
    font-size: $base-font-size;
    border: none;
    option{
      font-size: $middle-font-size;
      &[selected]{
         color:$mainbgc;

      }
    }
  }
}